html,
@charset "UTF-8";
@import url(bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Oswald:300,400,700");
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;}


body{
    line-height: 1;}


ol, ul{
    list-style: none;}


/*fonts*/
html * {
    font-family: "Noto Sans", sans-serif;}

.font-primary, .font-primary * {
    font-family: "Noto Sans", sans-serif !important;}

.font-secondary, .font-secondary * {
    font-family: "Oswald", sans-serif !important;}

.font-light, .font-light * {
    font-weight: 300 !important;}

.font-italic, .font-italic * {
    font-style: italic !important;}

.font-bold, .font-bold * {
    font-weight: 700;}

.font-bold-italic, .font-bold-italic * {
    font-style: italic !important;
    font-weight: 700;}

h1, h2, h3, h5, h6, h7{
    font-family: "Oswald", sans-serif !important;}

h1{
    font-size: 80px;
    text-align: left;
    color:#ffffff;
    border-bottom:4px solid #e9c20c;
    margin: 0 0 !important;}

h2{
    font-size: 50px;
    text-align: center;
    color:#504f48; !important;}

h3{
    font-size: 35px;
    text-align: center;
    color:#504f48;
    margin: 10px; !important;}

h3 a[name]{
    display:block;
    height: 110px;
    color:transparent;} 

h3 [id]{
     margin-top:0; 
     padding-top:0;}

h4{
    font-family: "Noto Sans", sans-serif  !important;
    font-size: 25px;
    text-align: center;
    color:#504f48;
    margin: 10px; !important;}

h5{
    font-size: 35px;
    text-align: center;
    color:#ffffff;
    margin: 10px; !important;}

h6{
    font-size: 25px;
    text-align: center;
    color:#ffffff;
    margin: 10px; !important;}

/*IMPRESSUM*/
.h7{
    font-size: 35px;
    text-align: left;
    color:#504f48;
    margin-top: 10px; !important; }

p{
    font-family: "Noto Sans", sans-serif  !important;
    text-align: center;
    line-height: 1.5;
    color:#504f48;
    font-size: 14px !important;}

.p2{
    font-family: "Noto Sans", sans-serif  !important;
    text-align: center;
    line-height: 1.5;
    color:#ffffff;
    font-size: 20px !important; }


.p3{
    font-family: "Noto Sans", sans-serif  !important;
    text-align: center;
    line-height: 1.5;
    color:#ffffff;
    font-size: 14px !important;}

/*IMPRESSUM*/
.p4 {
    font-family: "Noto Sans", sans-serif  !important;
    text-align: left;
    line-height: 1.5;
    color:#504f48;
    font-size: 14px !important;}


/*Parallax Effekt*/
.parallax{
    background: url(../images/weedBackground.jpg) repeat fixed 100%;
    background-size: cover !important;}


.parallaxHeader{
    background: url(../images/bgTop.jpg) repeat fixed 100%;
    background-size: cover !important;}


.image-wrapper{
    max-width:100%;
    height:auto;
    position: relative;
    display:block;
    margin:0 auto;}

.image-wrapper img{
    width:100% !important;
    height:auto !important;
    display:block;}

.full-width {
    width: 100%;}

.picVerein{
    margin-top: -75px;}


/*Kauf Button Start*/
.cBtn .start{
	padding: 25px;
	padding-right: 50px;
	padding-left: 50px;
    background:#cb0727;
    margin-top: 260px;}

.cBtn .start a{
	font-size: 18px;
    text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
    letter-spacing: +1px;}

.cBtn .start:hover{
	background:#e9c20c;}


/*Kauf Button*/
.cBtn .buy{
	padding: 25px;
	padding-right: 50px;
	padding-left: 50px;
    background:#cb0727;}

.cBtn .buy a{
	font-size: 18px;
    text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
    letter-spacing: +1px;}

.cBtn .buy:hover{
	background:#e9c20c;}

.cBtnhead ul li{
	margin-top: 23px;}


 .cBtn1 {
	 text-align:center;
			}
			
.cBtn1 ul {
	margin-top: 23px;}


#menu li a:focus{
    border:none;
    outline:none;
    color:#e9c20c;}


/*MEDIA SCREEN 991px*/
@media screen and (max-width: 991px){
.project{
	margin-top: 55px;}
    
.project2{
	margin-bottom: 30px}
    
.chart {
    margin-top: 55px;}
}


/*ICONS*/
 .Des .fa-heart{
	//margin-left: -14px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #ffffff;
	font-family: FontAwesome;
	text-align: center;}

.Fresh{
	margin-bottom: 145px;
	color: #504f48;
	margin-top: 250px;
	text-align: center;}

.fa-cog {
	margin-left: 2px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #ffffff;
	font-family: FontAwesome;
	text-align: center;}

.Des  h4{
	//margin-left: -19px;}

.Ver  h4{
	//margin-left:0;}

.Fully  h4{
	//margin-left: 20px;}

.fa-tablet{
	//margin-left: 20px;
	width:73px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #ffffff;
	font-family: FontAwesome;
	text-align: center;}


/*MEDIA SCREEN 991px*/
@media screen and (max-width: 991px){
    
.fa-cog {
	margin-top: 30px}

.fa-tablet{
		margin-top: 30px}
}


/*SOCIAL MEDIA*/
.soc ul li{
	margin-right: 23px;
	float:left;
	text-align: center;
	text-decoration:none;
	list-style:none;}

.soc{
    margin-top: 20px;
	text-align:center;}

.soc ul{
	display:inline-block;
	padding-left: 0px;}

.socIn{
	width: 52px;
	height: 52px;
	border-radius: 50px;
    background:#cb0727;
	display: block !important;}

.socIn:hover{
	cursor:pointer;
	background:#e9c20c;}

.soc1 a{
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png)no-repeat;
	margin-top: 15px;
	margin-left: 2px;}

.soc1 a:hover{
	border:0;
	background: url(../images/socIcons.png)no-repeat;
	box-shadow: none;}
	
.soc2 a{
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	margin-top: 15px;
	margin-left: 2px;}

.soc2 a:hover{
	border:0;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	box-shadow: none;}

.soc3 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc3 a:hover{
	border:0;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	box-shadow: none;}

.soc4 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc4 a:hover{
	border:0;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	box-shadow: none;}

.soc5 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc5 a:hover{
	border:0;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	box-shadow: none;}

.soc6 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc6 a:hover{
	border:0;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	box-shadow: none;}

.soc7{
	margin-right:0px !important;}

.soc7 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc7 a:hover{
	border:0;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	box-shadow: none;}

.soc8 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;}

.soc8 a:hover{
	border:0;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	box-shadow: none;}

#copy{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;}

/*MEDIA SCREEN 580px*/
@media screen and (max-width: 580px){
    
h1{
    font-size: 60px;
    text-align: left;
    color:#ffffff;
    border-bottom:4px solid #e9c20c;
    margin: 0 0 !important;}

/*Kauf Button Start*/
.cBtn .start{
    margin-top: 220px;}
}

/*IMPRESSUM*/
#iContent{
    margin-left: 150px;
    margin-right: auto;
    align-content: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;}

/*MEDIA SCREEN 580px*/
@media screen and (max-width: 580px){   
#iContent{
    margin-left: auto}
}

/*MEDIA SCREEN 991px*/
@media screen and (max-width: 991px){       
.downMenuMarg{
	margin-top: 40px;}
}

/*PADDINGS AND MARGINS*/
.whitewindow{
	margin-top: -80px;}

.expandbutton{
    text-align: center; 
    margin-bottom: -90px; 
    z-index: 10;}

.contactrow {
	text-align: center; 
	margin-top:40px;}

.spielrow{
	text-align: center; 
	padding-top: 80px;}

.holrow {
    text-align: center; 
    padding-top: 170px;}

.navmenu {
    text-align: center;}

.createquiz {
    text-align: center;
    padding-top: 10px;}

/*PASSWORT.html*/
#input form{
    width:150px; margin:auto;}

.pwbody{
    padding-top: 200px;}