.st_left_col {
  line-height: 1.25;
  padding-left: 0;
}

.st_right_col {
  padding-right: 0;
}

.st_right1 {
  text-align: right;
  align-content: right;
  margin-top: 35px;
}

.st_right2 {
  margin-top: 20px;
  line-height: 1.2;
}

.st_box {
  border: 1px ridge lightgrey;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .st_right2 {
    text-align: right;
    align-content: right;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .st_right1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.st_rightdown {
  margin-bottom: 20px;
}

.st_erg {
  overflow: hidden;
  margin-top: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.st_botBox {
  margin: 0 auto;
}

.st_buttons .btn {
  width: 100%;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* font and size for the headlines */
.st_box h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
}