body {
    width: 100%;
    min-width: 320px;
    max-width: 2000 px;
    margin: 0 auto;
    padding:30px;
}


.qo_box {
    padding: 30px;
    margin-bottom: 15 px auto;
    border: 1px solid #929292;
        
}

.qo_box2{
    padding-top: 15px;
    margin-top: 15px;
    border: 1px solid #929292;
}

.qo_header{
    background:#E9C20C;
    padding: 5px;
    border-top: 1px solid #929292;
    border-right: 1px solid #929292; 
    border-left: 1px solid #929292;
}




.qo_bild{
    width: 100%;
    
    
}

.qo_elemente{
    padding: 1
    
    
}

.qo_text{
    margin-top: 25px;
    padding-top: 15px;
    
}

.qo_author{
    text-align: left;
    margin: 20px auto 0px auto;
    
}

.qo_rightText{
    text-align: right;
    margin-top: auto;
}





