//reset css
@import _reset.sass

$font-primary: "Noto Sans"
$font-secondary: "Oswald"

$color-yellow: #e9c20c
$color-red: #cb0727
$color-green: #4ac725
$color-darkgrey: #504f48
$color-mediumgrey: #929292
$color-lightgrey: #f8f5e4
$color-white: #ffffff
$color-black: #000000
$color-red-light: #ed1335

//general styles
*
  font-family: $font-primary

//fonts (external, not final solution)
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Oswald:300,400,700')
.font-primary
  font-family: $font-primary

.font-secondary
  font-family: $font-secondary

.font-light
  font-weight: 300

.font-italic
  font-style: italic

.font-bold
  font-weight: 700

.font-bold-italic
  font-style: italic
  font-weight: 700

//standard elements
h1, h2, h3
  font-family: $font-secondary
  margin-bottom: 8px //not proofed by stylesheet
  margin-top: 16px //not proofed by stylesheet

h1
  font-size: 22px

h2
  font-size: 18px

h3
  font-family: $font-primary
  font-size: 16px

p
  font-family: $font-primary
  font-size: 14px

button, input[type="button"], input[type="submit"]
  background-color: $color-red
  border: 0
  color: $color-white
  font-family: $font-primary
  font-size: 16px
  height: 50px

  &:hover
    background-color: $color-red-light
    cursor: pointer

  &:focus
    background-color: $color-red-light
    outline: 0

input, textarea
  background-color: $color-white
  border: 1px solid $color-white
  color: $color-mediumgrey
  font-family: $font-primary
  font-size: 14px
  height: 30px

  &::-webkit-input-placeholder
    color: $color-mediumgrey

  &:-moz-placeholder
    color: $color-mediumgrey

  &::-moz-placeholder
    color: $color-mediumgrey

  &:-ms-input-placeholder
    color: $color-mediumgrey

  &:focus
    border: 1px solid $color-black
    outline: 0

//color classes (fg=foreground, bg=background)
.fg-yellow
  color: $color-yellow

.bg-yellow
  background-color: $color-yellow

.fg-red
  color: $color-red

.bg-red
  background-color: $color-red

.fg-green
  color: $color-green

.bg-green
  background-color: $color-green

.fg-darkgrey
  color: $color-darkgrey

.bg-darkgrey
  background-color: $color-darkgrey

.fg-mediumgrey
  color: $color-mediumgrey

.bg-mediumgrey
  background-color: $color-mediumgrey

.fg-lightgrey
  color: $color-lightgrey

.bg-lightgrey
  background-color: $color-lightgrey

.fg-white
  color: $color-white

.bg-white
  background-color: $color-white

.fg-black
  color: $color-black

.bg-black
  background-color: $color-black