@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Oswald:300,400,700");
html:not(.no-reset) {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline; }
  html:not(.no-reset) body, html:not(.no-reset) div, html:not(.no-reset) span, html:not(.no-reset) applet, html:not(.no-reset) object, html:not(.no-reset) iframe, html:not(.no-reset) h1, html:not(.no-reset) h2, html:not(.no-reset) h3, html:not(.no-reset) h4, html:not(.no-reset) h5, html:not(.no-reset) h6, html:not(.no-reset) p, html:not(.no-reset) blockquote, html:not(.no-reset) pre, html:not(.no-reset) a, html:not(.no-reset) abbr, html:not(.no-reset) acronym, html:not(.no-reset) address, html:not(.no-reset) big, html:not(.no-reset) cite, html:not(.no-reset) code, html:not(.no-reset) del, html:not(.no-reset) dfn, html:not(.no-reset) em, html:not(.no-reset) img, html:not(.no-reset) ins, html:not(.no-reset) kbd, html:not(.no-reset) q, html:not(.no-reset) s, html:not(.no-reset) samp, html:not(.no-reset) small, html:not(.no-reset) strike, html:not(.no-reset) strong, html:not(.no-reset) sub, html:not(.no-reset) sup, html:not(.no-reset) tt, html:not(.no-reset) var, html:not(.no-reset) b, html:not(.no-reset) u, html:not(.no-reset) i, html:not(.no-reset) center, html:not(.no-reset) dl, html:not(.no-reset) dt, html:not(.no-reset) dd, html:not(.no-reset) ol, html:not(.no-reset) ul, html:not(.no-reset) li, html:not(.no-reset) fieldset, html:not(.no-reset) form, html:not(.no-reset) label, html:not(.no-reset) legend, html:not(.no-reset) table, html:not(.no-reset) caption, html:not(.no-reset) tbody, html:not(.no-reset) tfoot, html:not(.no-reset) thead, html:not(.no-reset) tr, html:not(.no-reset) th, html:not(.no-reset) td, html:not(.no-reset) article, html:not(.no-reset) aside, html:not(.no-reset) canvas, html:not(.no-reset) details, html:not(.no-reset) embed, html:not(.no-reset) figure, html:not(.no-reset) figcaption, html:not(.no-reset) footer, html:not(.no-reset) header, html:not(.no-reset) menu, html:not(.no-reset) nav, html:not(.no-reset) output, html:not(.no-reset) ruby, html:not(.no-reset) section, html:not(.no-reset) summary, html:not(.no-reset) time, html:not(.no-reset) mark, html:not(.no-reset) audio, html:not(.no-reset) video {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline; }
  html:not(.no-reset) article, html:not(.no-reset) aside, html:not(.no-reset) details, html:not(.no-reset) figcaption, html:not(.no-reset) figure, html:not(.no-reset) footer, html:not(.no-reset) header, html:not(.no-reset) menu, html:not(.no-reset) nav, html:not(.no-reset) section {
    display: block; }
  html:not(.no-reset) body {
    line-height: 1; }
  html:not(.no-reset) ol, html:not(.no-reset) ul {
    list-style: none; }
  html:not(.no-reset) blockquote, html:not(.no-reset) q {
    quotes: none; }
  html:not(.no-reset) blockquote:before, html:not(.no-reset) blockquote:after {
    content: ""; }
  html:not(.no-reset) q:before, html:not(.no-reset) q:after {
    content: ""; }
  html:not(.no-reset) table {
    border-collapse: collapse;
    border-spacing: 0; }

* {
  font-family: "Noto Sans"; }

h1, h2, h3 {
  font-family: "Oswald"; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-family: "Noto Sans";
  font-size: 16px; }

p {
  font-family: "Noto Sans";
  font-size: 14px; }

button, input[type="button"], input[type="submit"] {
  background-color: #cb0727;
  border: 0;
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 16px;
  height: 50px; }
  button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #ed1335;
    cursor: pointer; }
  button:focus, input[type="button"]:focus, input[type="submit"]:focus {
    background-color: #ed1335;
    outline: 0; }

input, textarea {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #929292;
  font-family: "Noto Sans";
  font-size: 14px;
  height: 30px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #929292; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #929292; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #929292; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #929292; }
  input:focus, textarea:focus {
    border: 1px solid #000000;
    outline: 0; }

.fg-yellow {
  color: #e9c20c; }

.bg-yellow {
  background-color: #e9c20c; }

.fg-red {
  color: #cb0727; }

.bg-red {
  background-color: #cb0727; }

.fg-green {
  color: #4ac725; }

.bg-green {
  background-color: #4ac725; }

.fg-darkgrey {
  color: #504f48; }

.bg-darkgrey {
  background-color: #504f48; }

.fg-mediumgrey {
  color: #929292; }

.bg-mediumgrey {
  background-color: #929292; }

.fg-lightgrey {
  color: #f8f5e4; }

.bg-lightgrey {
  background-color: #f8f5e4; }

.fg-white {
  color: #ffffff; }

.bg-white {
  background-color: #ffffff; }

.fg-black {
  color: #000000; }

.bg-black {
  background-color: #000000; }

/*# sourceMappingURL=style.css.map */
