  body { <!-- background- attachment:( scroll oder fixed)-->}

           div{ weight: 90px;
                height: 600px;
                margin: 50px;
                border: 1pt solid #929292;
                }


           p{ border: inherit;
              margin: inherit;
              }


            .qoh1 { width: inherit;
                    padding:20px 10px;
                  }
            .qoSortieren { width:200px;
                           height:25px;
                           margin:50px;
                           }


            .qoButtonSpiel{ margin: 30px;
                         }


