  body { <!-- background- attachment:( scroll oder fixed)-->}

           div{ weight: 90px;
                height: 600px;
                margin: 50px;
                border: 1pt solid #929292;
                }
           p{ border: inherit;
              margin: inherit;
              }

            .qoh1 { width: inherit;
                    padding:20px 10px;


            .qoh2 { a.normal:hover {
                    color:#FFFF00;
                 }





            .qoButtonSpiel{
                            margin: 30px;

                         }
            .linkheader { width:954px;
         height:66px;
         margin-left:35px;
         display:block;