@charset "utf-8";




body {  }


         main{ height: 650px;
              margin: 70px;
              border: 1pt solid #929292;
              overflow: hidden;
              padding: 40px 40px;

            }



             .container{display:grid|inline-grid;
             }


             .qoButtonSpiel{ margin: 30px;
                             height:25px;
                             margin:50px;
                         }



             .qoh1 { padding:1px 1px;
                     background-color: #E9C20C

                   }



             .qoh2{ padding:30px 30px;
                  }



         img { width:300px;
               height:200px;
               padding: 30px 30px;
             }


         select{ padding:30px 30px;
               }
             .qoSortieren { padding:30px;
                            width:300px;
                            height:25px;
                            margin:50px;
                          }