#btn-play {
  float: right;
}

#hs-highscore {
  margin-top: 75px;
  align-content: center;
  height: auto;
  border: 1px solid black;
}

#player_table {
  height: 300px;
  padding: 0 10px;
}

#player_table tr {
  height: 15px;
  padding: 10px;
  font-size: 14px;
}

#hs-search {
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

#hs-search-input {
  border: none;
}

#hs-scoretable {
  width: 100%;
  text-align: justify;
}

#hs-title {
  height: auto;
}

#hs-highscore td:nth-child(1), th:nth-child(1) {
  width: 20%;
}

#hs-highscore td:nth-child(2), th:nth-child(2) {
  width: 80%;
}

#hs-highscore td:nth-child(3), th:nth-child(3) {
  width: 20%;
}

#hs-highscore tr:nth-child(even) {
  background-color: #f7f4e4;
}

#hs-highscore thead {
  text-align: center;
}

#hs-highscore th {
  text-align: left;
}

#hs-highscore td {
  line-height: 25px;
}

#hs-highscore tr {
  display: block;
  position: relative;
}

#hs-highscore tbody {
  display: block;
  overflow: auto;
  height: 300px;
  margin: 10px;
}

#hs-highscore a:link {
  color: white; //ok, general
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.hs_fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.hs-fixed-headers-title th {
  background-color: white; //ok, general
  padding: 10px;
}

.hs-option_button {
  align-content: center;
  height: 35px;
  margin: 20px 10px 20px 15px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.hs-search-element {
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  line-height: 35px;

}

.hs-search-element p {
  font-size: 22px;
}

.hs-search-element::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 18px;
  background-image: url(../ico/input-style.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%, 0 0;
}

.hs-search-feld {
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../ico/dropdown-style.svg);
  background-repeat: no-repeat, repeat;
  background-position: 100% 50%, 0 0;
  padding-left: 5px;
  font-family: "Oswald Regular", serif;
}

.hs-ueberschriften {
  padding: 20px;
  font-size: 22px;
}