.qr-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.qr-head {
  padding: 24px 0;
}

.qr-text {
  font-size: 18px;
  font-weight: bold;
}

.qr-timer {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 25px;
}

.qr-question {
  text-align: center;
  padding: 50px 0 20px 0;
  line-height: 1.3;
}

.qr-inner_box {
  padding: 24px;
}

.qr-answers button {
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;

}

.qr-answers button:hover {
  background-color: #f8f5e4; //ok, hover
}

.qr-answers button span {
  float: left;
  position: relative;
}

.qr-answers button .qr-short {
  width: 50px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.qr-answers button .qr-long {
  font-size: 18px;
  width: calc(100% - 50px);
  padding: 10px;
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.qr-fg-black {
  margin-bottom: 10px;
}

.qr-answer_icons {
  width: auto;
  height: 25px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.qr-answer_icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 25px;
}

.qr-answer_icon_last {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 25px;
}

.qr-button {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.qr-button button {
  display: table-cell;
  width: 300px;
}

@media screen and (max-width: 818px) {
  .qr-answers button {
    width: 100%;
  }

  .qr-answers button .qr-short {
    width: 50px;
    font-size: 30px;
  }

  .qr-answers button .qr-long {
    font-size: 18px;
    width: calc(100% - 50px);
    line-height: 1.7;
    padding: 0 10px 0 10px;
  }

  .qr-timer, .qr-question {
    padding: 0;
  }
}

@media screen and (max-width: 538px) {
  .qr-answer_icons {
    width: auto;
    height: 20px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  .qr-answer_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 25px;
  }

  .qr-answer_icon_last {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 25px;
  }
}

@media screen and (max-width: 414px) {
  .qr-answer_icons {
    width: auto;
    height: 16px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
  }

  .qr-answer_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 25px;
  }

  .qr-answer_icon_last {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 25px;
  }

  .qr-answers button .qr-long {
    font-size: 14px;
    width: calc(100% - 50px);
    line-height: 1.5;
  }

  .qr-button {
    padding-top: 30px;
  }

  .qr-button button {
    display: table-cell;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .qr-mobile-body {
    .background {
      top: 0;
    }

    .wa_header_mobil {
      display: none;
    }

    #templatespaceholder {
      margin-top: -40px;
    }
  }

  .qr-timer .qr-timer-item {
    margin-bottom: -20px;
    margin-top: -20px;
    transform: scale(0.5);
  }
}

.answer--correct {
  background-color: #4ac725 !important;
}

.answer--wrong {
  background-color: #cb0727 !important;
}

.answer--correct span:last-child,
.answer--wrong span:last-child {
  background-color: transparent !important;
}