/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Oct-2016, 22:43:46
    Author     : vincent knappe
		
	Inhalt: 
	
	ALLGEMEINE FORMATIERUNG			
	ID's							
	TABLE							
	CLASSES
*/
/* ************ ALLGEMEINE FORMATIERUNG ************ 
****************************************************/
*{
    margin  			:   0px;
    padding 			:   0px;
}

html{
    height				: 	100%;
    width				: 	100%;
    background  		:	url(../images/Headerimage-schraeg.png);    
}

header{	
    height              :   50px;
    color               :   white;
    background-color    :   black;    
    font				:	18px/30px "Oswald Regular", serif;    
}

article{	
	width				:	100%;
}

footer{
    color				:	white;
    background-color	:	black;
    height				:	50px;  
}

/* ********************* ID's ********************* 
***************************************************/


#btn-uebersicht{
}

#btn-play{	
}

#hs-highscore{
    margin-top			:	75px;
    background-color	:   white;
    align-content  		:   center;
    height          	:   auto;
	border				:	1px solid black;	
}

#hs-overview{
    height              :   50px;
    width               :   100%;
    color               :   white; 
    background-color    :   rgba(0,0,0,0.5);
    font				:	18px "Oswald Light", serif;
}

		#hs-overview .menu{
			width				:	100%;
			list-style-type		:	none;
			margin-left     	:	225px;     
		}

		#hs-overview .menu li a{
			width				:	12%;
			height				:	50px;
			display				:	block;
			float				:	right;    
			color				:	white;
			text-align			:	center;
			text-decoration		:	none;
			line-height			:	50px;
		}

#player_table {
    height: 300px;   
}

		#player_table tr {
			height		:	30px;
			padding		:	10px;
}

#hs-search{
    background-color    :   #504F48;	
    overflow			:	auto;
	margin-left			:	0px;
	margin-right		:	0px;
	width				:	100%	
}

#hs-search-input {
    color				:	#504f48;
    border				:	none;
}

#hs-scoretable{
    width				:	100%;
    text-align			:	justify;
}

#hs-title{
    color				:	black;
    background-color    :   #E8C10B;
	height				:	auto;	
}


/* ********************* TABLE ******************** 
***************************************************/
 
  td:nth-child(1), th:nth-child(1) { width	: 20%; }
  td:nth-child(2), th:nth-child(2) { width	: 80%; }
  td:nth-child(3), th:nth-child(3) { width	: 20%; }
  
tr:nth-child(even) {
      background-color	:	#f7f4e4;
}
  
thead {
    background-color	:	#ccc;
    color				:	black;
}

th, td {
    padding				:	5px;
    text-align			:	left;
}
  
tr {
    display				:	block;
    position			:	relative;
    
}

tbody {
    display				:	block;
    overflow			:	auto;
    width				:	100%;
    height				:	300px;
} 
a:link {
    
    color				:	white;
    text-decoration		:	none;
    font-size			:	18px;
    text-align			:	center;
}

/* ******************* CLASSES ******************** 
***************************************************/


.hs_fixed_headers {
  width					:	100%;
  table-layout			:	fixed;
  border-collapse		:	collapse;
}

		.hs-fixed-headers-title th{
			margin-left 		:	10px;
			background-color	:	white;
			padding				:	10px;
		}
		
.hs-option_button{	    
	align-content		:	center;
    background			:	#CA0726;    
    color				:	white;
	height				:	35px;
	margin-top 			:	20px;
	margin-bottom		:	20px;
	margin-left			:	15px;
	margin-right		:	10px;
	padding				:	10px;
    text-decoration		:	none;
    text-align			:	center;
	width				:	100%;	
}

.hs-search-element{
	color				:	white;
	height 				:	35px;
	margin-top 			:	10px;
	margin-bottom		:	10px;	
    font-size			:   18px;
    font-weight         :   700;
	width				:	100%;
    line-height 		:	35px;
	
} 

		.hs-search-element p{
			font-size		:	18px;
			font-family		:   "Oswald Regular", serif;
			font-weight     :   700;
		}

		.hs-search-element::-webkit-input-placeholder{
			padding-left		:	5px;
			font-size			:	18px;
			font-family			:	"Oswald Regular", serif;
			background-image	:	url(../images/svg/input-style.svg);
			background-repeat	:	no-repeat;
			background-position	:	100% 50%, 0 0;
		}
		
.hs-search-feld {
	color				:	#504f48;
	height 				:	35px;
	margin-top 			:	10px;
	margin-bottom		:	10px;	
	width 				:	100%;
	-webkit-appearance	:	none;
	-moz-appearance		:	none;
	appearance			:	none;
	background-image	:	url(../images/svg/dropdown-style.svg);
	background-repeat	:	no-repeat, repeat;
	background-position	:	100% 50%, 0 0;
}

		.hs-search-feld::-webkit-select{
			padding-left		:	5px;
			font-family			:	"Oswald Regular", serif;
			
			
		}

.hs-ueberschriften{
	padding-top 		:	10px;
	padding-bottom		:	10px;
    padding-left        :   10px;
    font-family         :   25px "Oswald Regular", serif;
    font-weight         :   700;
}