/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Oct-2016, 22:43:46
    Author     : vince
*/
/* ************ ALLGEMEINE FORMATIERUNG ************ 
****************************************************/
*{
    margin  			:   0px;
    padding 			:   0px;
}

html{
    height				: 	100%;
    width				: 	100%;
    background  		:	url(../images/Headerimage-schraeg.png);    
}

/* ******************** LAYOUT ******************** 
***************************************************/


header{
	/* header inc. height nur temporaerer wert!!!*/
    height              :   50px;
    color               :   white;
    background-color    :   black;    
    font				:	18px/30px "Oswald Regular", serif;    
}

#hs-overview{
    height              :   50px;
    width               :   100%;
    color               :   white; 
    background-color    :   rgba(0,0,0,0.5);
    font				:	18px "Oswald Light", serif;
}

#hs-highscore{
    
    background-color	:   white;
    align-content  		:   center;
    height          	:   auto;
}

#hs-title{
    color				:	black;
    background-color    :   #E8C10B;
	height				:	auto;
	margin-top			:	75px;
}

.hs-ueberschriften{
	padding-top 		:	10px;
	padding-bottom		:	10px;
    padding-left        :   10px;
    font-family         :   25px "Oswald Regular", serif;
    font-weight         :   700;

}

#hs-search{
    background-color    :   #504F48;
	overflow			:	auto; 
    width:              :   100%;
}


.hs-search-element{
	color				:	white;
	height 				:	35px;
	margin-top 			:	10px;
	margin-bottom		:	10px;	
    font-size:              18px;
    font-weight         :   700;
    
    }  

.hs-search-feld {
	color				:	#504f48;
	height 				:	35px;
	margin-top 			:	10px;
	margin-bottom		:	10px;	
	width 				:	100%;
}

#hs-list{
	padding 			:	25px;
    width				:   100%;
    height  			:   400px;
    overflow			:	auto;       
}

#hs-scoretable{
    width				:	100%;
    text-align			:	justify;
}



#player_table tr {
    height: 30px;
    padding: 10px;
}

#player_table {
    height: 300px;   
}
#hs-scoretable tr:nth-child(2n) {
    background-color	:	#f7f4e4;
}

.table_element {
	
}

footer{
    color				:	white;
    background-color	:	black;
    height				:	50px;  
}

.hs_fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  
}
  th, td {
    padding: 5px;
    text-align: left;
   
  }
  
  td:nth-child(1), th:nth-child(1) { min-width: 200px; }
  td:nth-child(2), th:nth-child(2) { min-width: 500px; }
  td:nth-child(3), th:nth-child(3) { width: 250px; }

  thead {
    background-color: #ccc;
    color: black;
}
    tr {
      display: block;
      position: relative;
    
  }

  tbody {

    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}
      
    tr:nth-child(even) {
      background-color:#ddd;
    }

.hs-option_button{	    
	align-content		:	center;
    background			:	#CA0726;    
    color				:	white;
	height				:	35px;
	margin-top 			:	20px;
	margin-bottom		:	20px;
	margin-left			:	15px;
	margin-right		:	10px;
	padding				:	10px;
    text-decoration		:	none;
    text-align: center;
	width				:	100%;	

}

#suche {
    color: #504f48;
    border: none;
}

a:link {
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;

}

a:hover {
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}


/* ****************** NAVIGATION ****************** 
***************************************************/

#hs-overview .menu{
    width				:	100%;
    list-style-type		:	none;
     margin-left     	:	225px;     
}

#hs-overview .menu li a{
    width				:	12%;
    height				:	50px;
    display				:	block;
    float				:	left;    
    color				:	white;
    text-align			:	center;
    text-decoration		:	none;
    line-height			:	50px;
}