.row {
	margin-left: 0px;
	margin-right: 0px;
}

.content {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	border: #929292 solid;
	border-width: 0px 1px 1px 1px;
}

body {
	background-size: cover;
	background-position: 50% 50%;
	display: block;
	background-image: url(Headerimage-schraeg.png);
	background-repeat: no-repeat;
}

.head {
	background-color: #e9c20c;
	padding: 10px 0px 10px 10px;
}

.timer {
	text-align: center;
	padding: 50px 0px 0px 0px;
	font-size: 25px;
}

.question {
	text-align: center;
	padding: 50px 0px 20px 0px;
}

p {
	font-size: 18px;
	font-weight: bold;
}

.answer_icons {
	width: auto;
	height: 25px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.answer_icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
	border-radius: 25px;
}

.answer_icon_last {
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 25px;
}

.answers button {
	padding: 0px 0px 0px 0px;
	height: 50px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.answers button span  {
	height: 100%;
	float: left;
    position: relative;
}

.answers button .short {
	width: 50px;
	font-size: 30px;
    line-height: 1.7;
}


.answers button .long {
	font-size: 18px;
	width: calc(100% - 50px);
    line-height: 2.8;
}

.fg-black {
	margin-bottom: 10px;
}

.inner_box {
	padding: 24px;
}

.button1 {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

.button1 button {
	display: table-cell;
    width: 300px;
}

@media screen and (max-width: 818px){
    .answers button {
	height: 100px;
	width: 100%;
    }
    
    .answers button .short {
	width: 50px;
	font-size: 30px;
    line-height: 3.3;
    }


    .answers button .long {
	font-size: 18px;
	width: calc(100% - 50px);
    line-height: 1.7;
    }
}

@media screen and (max-width: 538px){
    .answer_icons {
	width: auto;
	height: 20px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.answer_icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 25px;
}

.answer_icon_last {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 25px;
}
}

    