
.st_box {
	margin-top: 10px;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 400px;
    border-color:#929292;
    border-style:ridge;
    border-width:1px;
}

.st_left {
	float: left;
	margin-right: 30px;
    margin-left:3px;
	width:100%;
	max-width: 570px;
}

.st_right1 {
    text-align:right;
    align-content:right;
}

.st_right2{
    
}

@media (min-width: 1024px) {
  .st_right2 {
    text-align:right;
    align-content:right;
  }
}

.st_rightdown{
    margin-bottom:45px;
}

.st_erg {
	overflow: hidden;
    margin-top:20px;
    margin-left:3px;
    margin-right:3px;
}

.st_box .st_box_content {
	padding: 20px;
    margin-left:15px;
}

.st_botBox {
    margin: 0 auto;
}

.st_buttons input {
    width:100%;
    margin-right: 15px;
	margin-bottom: 10px;
    margin-top: 15px;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top:16px;
  padding-bottom:16px;
  padding-left:8px;
}