/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Oct-2016, 02:26:30
    Author     : vince
*/


/* ******************* Noto San ******************* 
***************************************************/
@font-face{
    font-family :   'NotoSan Bold';
    scr         :   url('../font/NotoSans-Bold.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

@font-face{
    font-family :   'NotoSan BoldItalic';
    scr         :   url('../font/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}
@font-face{
    font-family :   'NotoSan Italic';
    scr         :   url('../font/NotoSans-Italic.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}
@font-face{
    font-family :   'NotoSan Regular';
    scr         :   url('../font/NotoSans-Regular.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

/* ******************** Oswald ******************** 
***************************************************/

@font-face{
    font-family :   'Oswald Bold';
    scr         :   url('../font/Oswald-Bold.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

@font-face{
    font-family :   'Oswald Light';
    scr         :   url('../font/Oswald-Light.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

@font-face{
    font-family :   'Oswald Regular';
    scr         :   url('../font/Oswald-Regular.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}