/* Breakpoint für Tablet-Ansicht */
$screen-sm-min: 768px;

$grid-gutter-width: 15px;

/* Zeigt Element nur in Viewport XS an */
._visible-xs-block {
	display: block;
	@media(min-width: $screen-sm-min) {
		display: none;
	}
}
/* Blendet Element in Viewport XS aus */
._hidden-xs {
	display: none;
	@media(min-width: $screen-sm-min) {
		display: initial;
	}
}

/* Setzt zwei Spalten in einer Row auf gleiche Höhe */
.row._same-height-sm {
	@media(min-width: $screen-sm-min) {
		display: flex;
		&>[class*='col-'] {
			display: flex;
			flex-direction: column;
		}
	}
}

._margin-top-0 {
	margin-top: 0;
}

._margin-top-05 {
	margin-top: $grid-gutter-width / 2;
}

._margin-top-1 {
	margin-top: $grid-gutter-width;
}

.qo-headline {
	margin-left: 0;
}

.qo-content-box {
	border: 1px solid #929292;
	padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
	margin-bottom: $grid-gutter-width;
}

.qo-headline-box {
	padding: 20px 0 20px 0;
}

.qo-image {
	width: 100%;
}

.qo-button {
	width: 100%;
}

.qo-quiz-summary {
	.qo-headline,
	.qo-infos {
		margin-top: $grid-gutter-width;
	}
	.qo-infos {
		text-align: right;
	}
}

.qo-quiz-details {
	.qo-text {
		line-height: 1.2;
	}
}

.qo-quizinfo-box {
	@media(min-width: $screen-sm-min) {
		display: flex;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-right: 0;
	}
	
	.counter {
		text-align: right;
	}
}

.qo-select-box {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	border: 1px solid #fff;
	line-height: 18px;
	padding: 5px 0 5px 8px;
	&:focus {
		outline: none;
		border: 1px black solid;
	}
}

.qo-wrapper-select-box::after {
	content: "";
	//	width: 80%;
	//	height: 100%;
	//	position: absolute;
	//	top: 0;
	//	left: 15px;
	//	border: 1px solid black;
	//	border-top: none;
	//	border-bottom: none;
	//	z-index: 2;
	&.qo-select-box {
		width: 100%;
	}
}