/* Variablen
============================================================*/

//Breakpoint für Tablet-Ansicht
$screen-sm-min: 768px;
$grid-gutter-width: 15px;

/* Helper
============================================================*/

//Zeigt Element nur bei Breakpoint SM an
._visible-xs-block {
	display: block;
	@media(min-width: $screen-sm-min) {
		display: none !important;
	}
}

//Blendet Element bei Breakpoint SM aus
._hidden-xs {
	display: none !important;
	@media(min-width: $screen-sm-min) {
		display: initial !important;
	}
}

//Setzt zwei Spalten in einer Row auf gleiche Höhe bei Breakpoint SM
.row._same-height-sm {
	@media(min-width: $screen-sm-min) {
		display: flex;
		&>[class*='col-'] {
			display: flex;
			flex-direction: column;
		}
	}
}

//Setzt zwei Spalten in einer Row auf gleiche Höhe bei Breakpoint XS
.row._same-height-xs {
	@media(max-width: $screen-sm-min - 1) {
		display: flex;
		&>[class*='col-'] {
			display: flex;
			flex-direction: column;
		}
	}
}

/* Components und Elements
============================================================*/


//Diese CSS-Regel sollte man später der Klasse 'container' zusesen
.qo-content-box {
	border: 1px solid #929292;
	margin-bottom: $grid-gutter-width;
	padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;

	margin-left: $grid-gutter-width;
	margin-right: $grid-gutter-width;
	
	@media(min-width: $screen-sm-min) {
	margin-left: auto;
	margin-right: auto;
	}
	
}

.qo-box-last-played {
	padding-bottom: 80px;
}

.qo-headline {
	margin-left: 0;
	&.-smallcentered {
		font-size: 18px;
		font-weight: normal;
		margin-top: $grid-gutter-width;
		text-align: center;
	}
}

.qo-subheadline {
	display: inline-block;
	margin-left: 10px;
	&.-withoutmargin {
		margin-left: 0;
	}
}

.qo-image {
	width: 100%;
}

.qo-headline-box {
	padding: 20px 0 20px 0;
	.qo-select-box {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url(../svg/dropdown-style.svg);
		background-repeat: no-repeat, repeat;
		background-position: 100% 50%, 0 0;
		border: none;
		border-radius: 0;
		border: 1px solid #fff;
		line-height: 18px;
		margin-top: $grid-gutter-width;
		padding: 5px 0 5px 8px;
		width: 100%;
		&:focus {
			outline: none;
			border: 1px black solid;
		}
		@media(min-width: $screen-sm-min) {
			margin-top: 0;
		}
	}
	.qo-search-box {
		color: black;
		background-image: url(../svg/input-style.svg);
		background-repeat: no-repeat, repeat;
		background-position: 100% 50%, 0 0;
		margin-top: $grid-gutter-width;
		text-indent: 10px;
		width: 100%;
		@media(min-width: $screen-sm-min) {
			margin-top: 0;
		}
		&::input-placeholder {
			font-style: italic;
			line-height: 1.3;
		}
		&::-webkit-input-placeholder {
			font-style: italic;
			line-height: 1.3;
		}
		//Firefox 18-
		&:-moz-placeholder {
			font-style: italic;
			line-height: 1.3;
		}
		//Firefox 19+
		&::-moz-placeholder {
			font-style: italic;
			line-height: 1.3;
		}
		&::-ms-input-placeholder {
			font-style: italic;
			line-height: 1.3;
		}
	}
}



.qo-quiz-summary {
	transition: background-color 0;
	.qo-headline,
	.qo-infos {
		margin-top: $grid-gutter-width;
	}
	.qo-infos {
		text-align: right;
	}
	&.-active {
		transition: background-color 0.5s;
		background-color: #f8f5e4;
	}
}

.qo-quiz-details {
	transition: background-color 0;
	.qo-text {
		line-height: 1.2;
		margin-top: $grid-gutter-width;
		@media(min-width: $screen-sm-min) {
			margin-top: 0;
		}
	}
	&.-active {
		padding-bottom: $grid-gutter-width;
		transition: background-color 0.5s;
		background-color: #f8f5e4;
	}
}

.qo-quizinfo-box {
	margin-top: $grid-gutter-width*2;
	align-items: flex-end;
	@media(min-width: $screen-sm-min) {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.qo-counter {
		text-align: right;
	}
	.qo-time,
	.qo-author {
		font-weight: 700;
	}
	.qo-author {
		margin-top: $grid-gutter-width;
	}
	.qo-time {
		//		margin-top: $grid-gutter-width*2;
	}
	.qo-points {
		background-color: #504f48;
		color: white;
		display: inline-block;
		margin-bottom: $grid-gutter-width/2;
		margin-top: $grid-gutter-width*2;
		padding: 5px 10px;
		float: right;
	}
	.qo-button {
		width: 100%;
	}
}

.js-collapse-section {
	.js-collapse-details {
		overflow: hidden;
	}
}

.qo-collapse-link {
	color: black;
	display: inline-block;
	&:hover {
		color: black;
		text-decoration: none;
	}
	.qo-arrow {
		display: inline-block;
		padding-top: 2px;
		transition: all 0.5s;
		transform: rotate(270deg) !important;
	}
	&.-collapsed {
		.qo-arrow {
			transform: rotate(180deg) !important;
		}
	}
}

/* Styles für Flickity
============================================================*/
.js-carousel-cell {
	height: auto;
	width: 100%;
}

.flickity-page-dots {
	bottom: -75px !important;
	.dot {
		height: 14px !important;
		width: 14px !important;
		margin: 0 12px !important;
	}
}

//Vor- und Zurueck-Schalflaechen neben den Punkten
.flickity-page-dots .button-item {
	margin: 0 20px !important;
}

.button-item {
	display: inline-block;
	>.button {
		padding: 0;
		margin: 0 !important;
		color: black;
		background: none;
	}
}

